*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  position: relative;
  height: 100%;
  margin: 0 auto;
  color: #21243d;
  font-family: 'Roboto Mono', monospace;
}
a {
  text-decoration: none;
  color: black;
}
.adaptive {
  width: -webkit-fill-available;
}
h2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tth__text {
  padding: 30px;
}
.box1 {
  padding: 30px;
}
table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 25px;
  border-color: grey;
}
.gab {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adaptive{
  width: auto;
}